/****** Variables ******/
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #202432;
    background: #8891a0;
    margin: 0;
    padding: 0;
  }
  div {
    box-sizing: border-box;
  }
  /********** login ***********/
  .container-login {
    /* background-image: url('src/img/drone-login.jpg'); */
    background-size: cover;
    display: flex;
  }
  .container-login .col-1 {
    width: 65%;
    height: 100vh;
    background: rgba(32, 36, 50, 0.91);
    float: left;
  }
  .container-login .col-2 {
    width: 35%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .container-login .col-2 .form-container {
    padding: 0 60px;
  }
  .container-login .col-2 .form-container .img-container {
    margin: 0 auto 30px auto;
    text-align: center;
  }
  .container-login .col-2 .form-container label {
    width: 100%;
    padding-bottom: 8px;
    display: block;
  }
  .container-login .col-2 .form-container input[type="text"],
  .container-login .col-2 .form-container input[type="password"] {
    font-size: 16px;
    font-weight: 400;
    color: #8891a0;
    width: 100%;
    height: 35px;
    border: solid 1px #c0c0c1;
    border-radius: 4px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin-bottom: 15px;
    background: transparent;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .container-login .col-2 .form-container .btn-primary {
    width: 100%;
    margin-top: 15px;
  }
  .container-login .col-2 .footer-login {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #8891a0;
    position: absolute;
    bottom: 15px;
    width: 100%;
  }
  /********* buttons ***********/
  .btn {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .btn-primary {
    background-color: #3ebd9c;
    color: #ffffff;
  }
  /********** header ********/
  header {
    background-color: #161616;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  header .logo {
    padding: 6px 15px;
    display: inline-block;
  }
  header .user-container {
    background-color: #202432;
    height: 60px;
    display: inline-block;
    float: right;
    position: relative;
    padding: 10px 30px 0 65px;
    box-sizing: border-box;
  }
  header .user-container .profile-pic {
    width: 45px;
    height: 45px;
    border: solid 2px rgba(255, 255, 255, 0.22);
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 8px;
    border-radius: 50%;
  }
  header .user-container .profile-pic img {
    width: 100%;
    height: auto;
  }
  header .user-container h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #8891a0;
  }
  header .user-container h3 {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #8891a0;
  }
  /********** footer *************/
  footer {
    background-color: #000000;
    width: 100%;
    height: 56px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    /* background-image: url(../img/footer-icon.png); */
    background-repeat: no-repeat;
    background-position: 5px 10px;
  }
  footer h2 {
    font-size: 24px;
    font-weight: 400;
    color: #8891a0;
    margin: 0;
    padding: 12px 0 0 55px;
    text-align: left;
    display: inline-block;
  }
  footer .footer-btn-container {
    display: inline-block;
    float: right;
    padding: 12px 0;
  }
  footer .footer-btn-container ul.indicadores {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  footer .footer-btn-container ul.indicadores li {
    font-size: 14px;
    color: #8891a0;
    display: inline-block;
    padding-left: 30px;
    position: relative;
    padding-right: 30px;
  }
  footer .footer-btn-container ul.indicadores li:after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: solid 2px;
  }
  footer .footer-btn-container ul.indicadores li.disponibles:after {
    border-color: #3ebd9c;
    background: rgba(44, 189, 158, 0.6);
  }
  footer .footer-btn-container ul.indicadores li.comentarios:after {
    border-color: #ff3366;
    background: rgba(255, 51, 102, 0.6);
  }
  footer .footer-btn-container .btn {
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    border: solid 1px #8891a0;
    color: #8891a0;
    display: inline-block;
    padding: 5px 10px 5px 30px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  footer .footer-btn-container .btn span {
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  /****** content *******/
  .content-area {
    width: 100%;
    height: calc(100vh - 116px);
    position: absolute;
    top: 60px;
    left: 0;
  }
  .content-area canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #toolbar {
    position: absolute;
    z-index: 9;
    background-color: rgba(32, 36, 50, 0.83);
    text-align: center;
    top: 30px;
    left: 30px;
    width: 220px;
    padding: 20px;
    border-radius: 4px;
  }
  #toolbar .tools .row {
    text-align: center;
    margin-bottom: 10px;
  }
  #toolbar .tools .row button {
    font-size: 30px;
    background: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  #toolbar .tools .row button:last-child {
    margin-right: 0px;
  }
  #toolbar .tools .row button:hover,
  #toolbar .tools .row button:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #ffffff;
    -moz-box-shadow: 0px 0px 6px 0px #ffffff;
    box-shadow: 0px 0px 6px 0px #ffffff;
  }
  #toolbar .toolbar-tools {
    text-align: left;
    padding: 0 0 15px 5px;
  }
  #toolbar .toolbar-tools button {
    font-size: 20px;
    background: transparent;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: none;
  }
  #toolbar .toolbar-tools button:hover,
  #toolbar .toolbar-tools button:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #ffffff;
    -moz-box-shadow: 0px 0px 6px 0px #ffffff;
    box-shadow: 0px 0px 6px 0px #ffffff;
  }
  #toolbar .btn-container-tools {
    display: flex;
    padding: 15px 5px;
  }
  #toolbar .btn-container-tools button {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding: 5px 0;
    margin-right: 5px;
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
  }
  #toolbar .btn-container-tools button.cancel {
    background: transparent;
    border: solid 1px #ffffff;
  }
  #toolbar .btn-container-tools button.save {
    background: #3ebd9c;
    margin-right: 0px;
  }
  #toolbarheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  